# Key 名前 ピン番号 文字 unique_keyかどうか
Key dlt 11 d true
Key space 10 s true
Key ijkl 9 u false
Key wxyzh 8 j false
Key pcqe 7 m false
Key efgh 6 y false
Key rstuv 5 h false
Key brqdq 4 n false
Key abcd 3 t false
Key mnopq 2 g false
Key assc 1 b false
Key cul 0 c true

# Gesture Gesture名 keyのリスト 出力の文字 mode
Gesture spc [space] " " 0
Gesture delet [dlt] "BACKSPACE" 0
Gesture enter [dlt, space, pcqe] "ENTER" 0
Gesture mode_10 [cul, dlt] "CHANGE_MODE1" 0
Gesture mode_11 [dlt, cul] "CHANGE_MODE1" 0
Gesture mode_20 [space, cul] "CHANGE_MODE2" 0
Gesture mode_21 [cul, space] "CHANGE_MODE2" 0
Gesture mode_30 [space, dlt] "CHANGE_MODE3" 0
Gesture mode_31 [dlt, space] "CHANGE_MODE3" 0
Gesture right [cul, abcd, efgh, ijkl, dlt] "RIGHT" 0
Gesture left [dlt, ijkl, efgh, abcd, cul] "LEFT" 0
Gesture tweet [cul, mnopq, rstuv, wxyzh, space] "RIGHT" 0

Gesture a [abcd] "a" 1
Gesture b [abcd, cul] "b" 1
Gesture c [abcd, efgh] "c" 1
Gesture d [abcd, mnopq] "d" 1
Gesture e [efgh] "e" 1
Gesture f [efgh, abcd] "f" 1
Gesture g [efgh, ijkl] "g" 1
Gesture h [efgh, rstuv] "h" 1
Gesture i [ijkl] "i" 1
Gesture j [ijkl, efgh] "j" 1
Gesture k [ijkl, dlt] "k" 1
Gesture l [ijkl, wxyzh] "l" 1
Gesture m [mnopq] "m" 1
Gesture n [mnopq, cul] "n" 1
Gesture o [mnopq, abcd] "o" 1
Gesture p [mnopq, rstuv] "p" 1
Gesture q [mnopq, assc] "q" 1
Gesture r [rstuv] "r" 1
Gesture s [rstuv, mnopq] "s" 1
Gesture t [rstuv, efgh] "t" 1
Gesture u [rstuv, wxyzh] "u" 1
Gesture v [rstuv, brqdq] "v" 1
Gesture w [wxyzh] "w" 1
Gesture x [wxyzh, rstuv] "x" 1
Gesture y [wxyzh, ijkl] "y" 1
Gesture z [wxyzh, space] "z" 1
Gesture hyphen [wxyzh, pcqe] "-" 1
Gesture at [assc] "@" 1
Gesture slash [assc, cul] "/" 1
Gesture sharp [assc, mnopq] "#" 1
Gesture colon [assc, brqdq] ":" 1
Gesture brcl [brqdq] "(" 1
Gesture brcr [brqdq, assc] ")" 1
Gesture quot [brqdq, rstuv] "\'" 1
Gesture dubquot [brqdq, pcqe] "\"" 1
Gesture period [pcqe] "." 1
Gesture comma [pcqe, brqdq] "," 1
Gesture question [pcqe, wxyzh] "?" 1
Gesture exclam [pcqe, space] "!" 1
Gesture chuplow [cul] "CHANGE_ULST" 1

Gesture zero [cul] "0" 2
Gesture one [abcd] "1" 2
Gesture two [efgh] "2" 2
Gesture three [ijkl] "3" 2
Gesture four [mnopq] "4" 2
Gesture five [rstuv] "5" 2
Gesture six [wxyzh] "6" 2
Gesture seven [assc] "7" 2
Gesture eight [brqdq] "8" 2
Gesture nine [pcqe] "9" 2

HandWriting a_hw  "a" 11 "u" "m" "j"
HandWriting x_hw  "x" 7 "t" "b" "m"
HandWriting b_hw  "b" 7 "t" "b" "n"
HandWriting c_hw  "c" 7 "u" "m" "g"
HandWriting d_hw  "d" 8 "j" "m"
HandWriting d_hw2  "d" 8 "h" "n"
HandWriting e_hw  "e" 10 "g" "m" "b"
HandWriting f_hw  "f" 7 "u" "j"
HandWriting g_hw  "g" 8 "u" "n"
HandWriting g_hw2  "g" 8 "y" "b"
HandWriting h_hw  "h" 6 "t" "n"
HandWriting h_hw2  "h" 6 "y" "m"
HandWriting i_hw  "i" 3 "h" "y"
HandWriting i_hw2  "i" 3 "g" "t"
HandWriting i_hw3  "i" 3 "j" "u"
HandWriting j_hw  "j" 4 "h" "y" "b"
HandWriting j_hw2  "j" 4 "j" "u" "n"
HandWriting k_hw  "k" 6 "t" "n"
HandWriting k_hw2  "k" 6 "y" "m"
HandWriting p_hw2  "p" 8 "y" "h" "u"
HandWriting b_hw2  "b" 7 "y" "n" "m"
HandWriting q_hw2  "q" 7 "y" "n" "t"
HandWriting l_hw  "l" 3 "y" "n"
HandWriting l_hw2  "l" 3 "t" "b"
HandWriting l_hw3  "l" 3 "u" "m"
HandWriting m_hw  "m" 13 "t" "m"
HandWriting z_hw  "z" 7 "t" "m" "h"
HandWriting n_hw  "n" 9 "t" "m" "y"
HandWriting o_hw  "o" 9 "y" "y"
HandWriting p_hw  "p" 8 "t" "g" "y"
HandWriting q_hw  "q" 7 "u" "m" "j"
HandWriting r_hw  "r" 7 "t" "u" "y"
HandWriting s_hw  "s" 9 "u" "b"
HandWriting t_hw  "t" 7 "g" "m"
HandWriting u_hw  "u" 9 "t" "m" "n"
HandWriting v_hw  "v" 7 "t" "u" "n"
HandWriting w_hw  "w" 10 "t" "u"
HandWriting y_hw  "y" 7 "t" "b"
